<style>
{}
body {
    background-color: rgb(185, 112, 146);
}

h1{
    font-family:Arial;
    font-size: 20px;
    color: rgb(48, 46, 46);
    
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 
}
p{
    font-family: Arial;
    font-size: 18px;
}
#f2{
   width: 315px;
   height: 50px;
   border: 1px solir;
   border-radius: 5px;
   background-image: linear-gradient(to right, #a30047 , #f52e73);
   margin-left: -5px;
   margin-top: 60px;
   font-size: 20px;
   font-family: 'Poppins', sans-serif;
}
div{
    padding-left:45px;
    border-radius: 5px;
    padding-top: 18px;
    width: 350px;
    height: 460px;    
    background-color: rgb(255, 255, 255);
    box-shadow: 35px 35px 20px rgba(90, 89, 89, 0.616);

    text-align: left;
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 20%;
}
div:hover{
    padding-left:45px;
    border-radius: 5px;
    padding-top: 18px;
    width: 350px;
    height: 460px;    
    box-shadow: none;

    background-color: whitesmoke;
    text-align: left;
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 20%;
}
.year{
        display: block;
        font-size: 16.5px;
        font-weight: bolder;
        margin-left: 65px;
        margin-bottom: -40px;
        margin-top: -10px;
        color: rgb(124, 124, 124);
        }
</style>