<style>
{}
    .div1{
        display: block;
        background-image: url(../img/forest-nature-tree-atmospheric-phenomenon-woodland-natural-environment-1558419-pxhere.com.jpg);
        background-size: cover;
        height: 760px;
        width: 101.09%;
        margin-top: -8px;
        margin-left: -8px;
    }
    }
    .boxlogo{
        width: 118px;
        height: 53px;
    }
    .logo{
        width: 100.18px;
        height: 45px;
        margin-top: 200px;
        margin-left: 720px;
    }
    .alogo{
        width: 100.18px;
        height: 45px;
    }
</style>