<style>
{}
    body{
        width: 800px;
        margin: auto;
        font-family: Calibri;
        background-color: rgb(166, 209, 209);
    }
    p,li{
        font-size: 20px;
    }
    strong,li{
        font-size: 23px;
    }
    ol > li:before {
        font-weight: bold;
    }
    ul,li{
        font-size: 20px;
    }
    h1{
        font-size: 45px;
    }
    h3{
        font-size: 28px;
    }
</style>