h1 {
    font-family: 'Advent Pro';
    text-align: center;
}
.inputform{
    height: auto;
    padding: 10px;
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    font-family: 'Advent Pro';
    background-color: cornsilk;
}
.inputform input,select {
    border-radius: 3px;
}
.component{
    height: auto;
    width: calc(80%/4);
    display: flex;
    flex-direction: column;
    border: none;

}
.component .container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}
.component img{
    margin: 5px 0px 0px 5px;
    width: 150px;
    height: 100px;
}
.warning{
    color: red;
}
.itemlist{
    width: 99%;
    height: auto;
    
}
.submit {
    border-radius: 5px;
    height: 50px;
    background-color: rgb(18, 94, 18);
    color: rgb(255, 255, 255);
    font-family: 'Advent Pro';
    font-size: 20px;
    margin-top: 30px;
}

.btn{
    margin: 5px;
}

.item-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.item-table thead tr {
    background-color: #0e7d99;
    color: #ffffff;
    text-align: left;
}

.item-table th,
.item-table td {
    padding: 12px 15px;
}

.item-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.item-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;

}

.btn-danger {
    background-color: brown;
    color: cornsilk;
    box-shadow: black 5px 5px 5px;
    transition: 0.5s;
}
.btn-danger:hover {
    box-shadow: none;
}
.btn-primary {
    background-color: rgb(0, 102, 42);
    color: whitesmoke;
    box-shadow: black 5px 5px 5px;
}
.btn-primary:hover {
    box-shadow: none;
}

