        body {
            margin: 0;
            font-family: Verdana;
        }

        .box {
            background-color: rgb(255, 255, 255);
            width: 135mm;
            margin-top: 10vh !important;
            margin: auto;
            padding: 20px;
            border-radius: 2px;
            border: rgb(226, 226, 226) 0.5px solid;
            box-shadow: black 5px 5px 20px;
        }
        
        .container {
            margin-top: -15px;
        }

        .container h4 {
            font-size: 13px;
            margin-bottom: 2px;
        }

        .box-content {
            display: flex;
        }

        .box-content__img img {
            width: 200px;
        }

        .box-content__text {
            padding: 10px;
            margin-top: -21px !important;
            font-size: 12px;
        }