body {
    font-family: 'Alef';
    font-size: 20px;
}

h1 {
    font-family: 'Advent Pro';
}

a {
    color: black;
}
area {
    border: none;
}
{
    "fontshortcuts.defaultFontSize": 15,
    "fontshortcuts.defaultTerminalFontSize": 15,
    "fontshortcuts.step": 1
  }